# use glob syntax.
syntax: glob
*.ser
*.class

# idea
.idea
*.iml

# building
target
build
build.log
log/*
var/*
Thumbs.db
.DS_Store
!.gitkeep
.rbenv-version
.rvmrc
_theme_packages/*
_site/*
