<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Api Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}"/>-->
</head>
<body>
<!--${_query} ,${_form},${_files},${_session},${_cookies},${_request},${_response},${_server}-->
<table>
    <thead>
    <tr>
        <td><strong>Default template variable name</strong></td>
        <td><strong>Size</strong></td>
    </tr>
    </thead>
    <tr>
        <td>${_query.size}</td>
        <td th:text="${_query.size}">${_query.size}</td>
    </tr>
    <tr>
        <td>${_form.size}</td>
        <td th:text="${_form.size}">${_form.size}</td>
    </tr>
    <tr>
        <td>${_files.size}</td>
        <td th:text="${_files.size}">${_files.size}</td>
    </tr>
    <!--<tr>-->
    <!--<td>${_session}</td>-->
    <!--<td th:text="${_session.size}">${_session.size}</td>-->
    <!--</tr>-->
    <tr>
        <td>${_cookies.size}</td>
        <td th:text="${_cookies.size}">${_cookies.size}</td>
    </tr>
    <tr>
        <td>${_request.classMethod.name}</td>
        <td th:text="${_request.classMethod}">${_request.classMethod}</td>
    </tr>
    <tr>
        <td>${_server.config.port}</td>
        <td th:text="${_server.config.port}">${_server.config.port}</td>
    </tr>
    <tr>
        <td>${_response}</td>
        <td th:text="${_response}">${_response}</td>
    </tr>
</table>

<h1>Higgs FlashWebSocket bridge API</h1>

<p th:text="#{welcome}">Welcome to the Higgs Thymeleaf demo!</p>
<span>The purpose of this is to show both HTML and WebSocket served from the same path, i.e. /</span>

<form enctype="multipart/form-data" classMethod="POST">
    <p>
        Type some text (if you like):<br></br>
        <input type="text" name="textline" size="30">  </input>
    </p>
    <input type="hidden" name="MAX_FILE_SIZE" value="100000"></input>
    Choose a file to upload: <input name="file" type="file"></input>
    Choose a file to upload: <input name="file2" type="file"></input>
    <br></br>
    <input type="submit" value="Upload File">    </input>
</form>
</body>
</html>
