<!--${_query} ,${_form},${_files},${_session},${_cookies},${_request},${_response},${_server}-->
<table>
    <thead>
    <tr>
        <td><strong>Default template variable name</strong></td>
        <td><strong>Size</strong></td>
    </tr>
    </thead>
    <tr>
        <td>${_query.size}</td>
        <td th:text="${_query.size}">${_query.size}</td>
    </tr>
    <tr>
        <td>${_form.size}</td>
        <td th:text="${_form.size}">${_form.size}</td>
    </tr>
    <tr>
        <td>${_files.size}</td>
        <td th:text="${_files.size}">${_files.size}</td>
    </tr>
    <tr>
        <td>${_session}</td>
        <td th:text="${_session.size}">${_session.size}</td>
    </tr>
    <tr>
        <td>${_cookies.size}</td>
        <td th:text="${_cookies.size}">${_cookies.size}</td>
    </tr>
    <tr>
        <td>${_response}</td>
        <td th:text="${_response}">${_response}</td>
    </tr>
</table>

<p th:text="#{welcome}">Welcome to the Higgs Thymeleaf demo!</p>

<form enctype="multipart/form-data" method="POST">
    <p>
        Type some text (if you like):<br></br>
        <input type="text" name="textline" size="30">  </input>
    </p>
    <input type="hidden" name="MAX_FILE_SIZE" value="100000"></input>
    Choose a file to upload: <input name="file" type="file"></input>
    Choose a file to upload: <input name="file2" type="file"></input>
    <br></br>
    <input type="submit" value="Upload File">    </input>
</form>